*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    overflow-x: hidden;
}

.content{
    width: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topping{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input{
    display: flex;
    padding: 15px;
    gap:5px;
    font-size: 18px;
    margin: auto;
    position: relative;
}

#topping{
    position: absolute;
    left: -7px;
    bottom: 29px;
}


.fgt-pwd{
    padding-bottom: 9px;
    text-align: center;
    margin: auto;
    font-size: 18px;
}
.dash-content{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}